/*******초기화 코드********/

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    display: block;
}

/***************/

body {
    font-family: 'Jeju Gothic', serif;
    text-align: center;
}

header {
    background: #382821;
    width: 100%;
    position: fixed;
    z-index: 99999;
}

.header_inner {
    max-width: 1200px;
    min-width: 1100px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 45%;
    top: 59px;
    z-index: 99;
}

.main_nav1 > ul {
    position: absolute;
    margin-top: 50px;
    font-size: 19px;
}

.main_nav2 > ul {
    position: absolute;
    margin-top: 50px;
    font-size: 19px;
}

.main_nav1 > ul {
    left: 10%;
    box-sizing: border-box;
    height: 25px;
    text-align: center;
}

.main_nav1 > ul > li {
    float: left;
    margin-right: 120px;
    padding: 5px;
}

.main_nav1 > ul > li > a:hover {
    padding-bottom: 10px;
    border-bottom: 3.5px solid #d6b26e;
}

.main_nav2 > ul > li > a:hover {
    padding-bottom: 10px;
    border-bottom: 3.5px solid #d6b26e;
}


.main_nav2 > ul {
    right: 10%;
    box-sizing: border-box;
    height: 25px;
    text-align: center;
}

.main_nav2 > ul > li {
    float: left;
    padding: 5px;
    margin-left: 120px;
}

.header_inner a {
    color: #d6b26e;
}

.fix {
    padding-top: 120px;
    margin-bottom: 100px;
}

.bx-wrapper .bx-pager {
    display: none;
}

.bx-wrapper {
    border: none;
    margin: 0 auto;
    box-shadow: none;
}

.sliders img {
    margin: 0 auto;
    border: 1.5px solid #ebebeb;
}

/* 상품 부분*/

.section2 {
    max-width: 1100px;
    margin: 0 auto 100px auto;
    overflow: hidden;
}

.section2 > h1,
.parallax--box {
    font-family: 'Montserrat', sans-serif;
    color: #957230;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.container {
    min-width: 1100px;
}

.sliders {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.caption {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.price {
    text-align: center;
    margin-top: 5px;
}

/****************미니배너****************/

.s_baner {
    max-width: 1100px;
    margin: 100px auto;
    height: 400px;
    overflow: hidden;
}

.s_b_inner > .s_ban1 {
    float: left;
}

.s_b_inner > .s_ban2 {
    width: 300px;
    float: left;
}

.s_ban2 > .s_ban2-1 {
    width: 300px;
    height: 200px;
    float: left;
}

.s_ban2 > .s_ban2-2 {
    width: 300px;
    height: 200px;
    background: #7c5f3c;
    float: left;
}

.s_b_inner > .s_ban4 {}

.s_ban2-2 > ul > .s_btxt1 {
    color: #fff7dd;
    font-size: 2.0em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.s_btxt2 {
    color: #fff7dd;
    line-height: 35px;
    font-size: 1.2em;
}

.fa-plus-circle {
    color: #fff7dd;
}

.fa-plus-circle :hover {
    color: #382821;
}

.bottom_img {
    overflow: hidden;

}

.scale {
    transition: all 0.5s ease-in-out;
}

.scale:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.address {
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.address > div {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.address > .bottom_img {
    float: left;
}

.address > .bottom_text {
    float: right;
}

.bottom_text > div {
    width: 100%;
    height: 50%;
    padding: 20px;
}

.title {
    font-family: 'Montserrat'+, sans-serif;
    color: #957230;
    font-size: 1.3em;
    margin-bottom: 25px;
}

.bottom_text li {
    padding: 7px;
}

.pop1 {
    position: fixed;
    left: 3%;
    border-radius: 100%;
    top: 70%;
    margin-top: 20px auto;
}

.pop2 {
    position: fixed;
    right: 3%;
    border-radius: 100%;
    top: 70%;
    margin-top: 20px auto;
}

.foot {
    overflow: hidden;
    position: relative;
    background: #2e2727;
    height: 400px;
    font-family: "맑은 고딕", sans-serif;
}

.foot_inner {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.foot_content1 {
    padding-top: 80px;
    overflow: hidden;
    max-width: 730px;
    margin: 0 auto;
}

.fa-info-circle,
.fa-map-marker-alt,
.fa-question-circle {
    color: #aa946b;
    font-size: 2.8em;
}

.fa-info-circle:hover,
.fa-map-marker-alt:hover,
.fa-question-circle:hover {
    color: #fff;
}

.more:hover {
    color: #fff;
    border-bottom: 3.5px solid #fff;
}

#fab1 {
    float: left;
    border-right: 1px solid #9a8866;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
}

#fab2 {
    float: left;
    border-right: 1px solid #9a8866;
    margin-right: 20px;
    padding-right: 20px;
    height: 200px;
}

#fab3 {
    float: left;
    padding-right: 20px;
}

.foot_text,
.foot_text_1 {
    color: #aa946b;
    padding: 10px;

}

.more {
    text-decoration: none;
    color: #aa946b;
    padding-bottom: 10px;
    border-bottom: 3.5px solid #aa946b;
}

.copy {
    max-width: 800px;
    margin: 0 auto;
}

.copy ul {
    margin-top: 30px;
    border-top: 1px solid #aa946b;
}

.copy li {
    padding: 20px;
    color: #aa946b;
}

/**********푸터 메뉴 호버 **********/
